body {
    text-align: center;
    background-color: antiquewhite;
}

header {
    font-size: xx-large;
    font-weight: bolder;
    padding: 10px;
    margin: 20px;
    background-color: aquamarine;
}

aside {
    float: left;
    padding: 10px;
    margin: 20px;
}

article {
    padding: 20px;
}

li {
    list-style-type: none;
    text-align: left;
}

section {
    text-align: center;
    background-color: antiquewhite;
    border-radius: 10px;
}

.city-card {
    padding: 20px;
    background-color: aquamarine;
}

.icon {
    width: 15%;
    place-self: center;
}

.forecast-card {
    display: inline-flex;
    padding: 10px;
    margin: 5px;
    background-color: aquamarine;
    max-width: 200px;
}

.forecast-icon {
    width: 100px;
    place-self: center;
}